.navbar {
  background-color: black; /* Change the background color to a blue shade */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
  position: relative;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.navbar a:hover::after {
  width: 100%;
}
